# Site Configuration
NEXT_PUBLIC_SITE_URL=https://touchbymina.com
NEXT_PUBLIC_SITE_NAME=Touch By Mina

# Contact Information
NEXT_PUBLIC_WHATSAPP_NUMBER=
NEXT_PUBLIC_PHONE_NUMBER=
NEXT_PUBLIC_EMAIL=info@touchbymina.com
NEXT_PUBLIC_INSTAGRAM_HANDLE=touchbymina
NEXT_PUBLIC_TIKTOK_HANDLE=touchbymina

# Location
NEXT_PUBLIC_BUSINESS_ADDRESS=Zeymo Building, Bethel, Addis Ababa
NEXT_PUBLIC_LATITUDE=9.0087618
NEXT_PUBLIC_LONGITUDE=38.7577605

# Google
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=C2Q6VehRrLLNDnM8E7AKGMSwd2vGdgIQebyoVk70AnA
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

# Analytics (Optional)
NEXT_PUBLIC_GA_TRACKING_ID=
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=
